@import "tailwindcss";
/* Default: Light mode */
:root {
  --background: #ffffff;
  --foreground: #8B0000;
  --wine-hover: #B22222;
  --secondary: #D2691E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-wine-hover: var(--wine-hover);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #8B0000;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
